
.footer {
  background-color: #e2e7fa;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.52px;
  text-align: left;
}

.footer__parents {
  display: flex;
  justify-content: space-evenly;
}

.parts {
  width: 342px;
  height: 92px;
  padding: 50px 0;
}

.parts h3 {
  padding-bottom: 15px;
}

.last__p {
  padding: 25px;
  text-align: center;
}
